{% extends 'base.html.twig' %}

{% block title %}Product Manager{% endblock %}

{% block body %}


<div> Content... TODO</div>
<div>
    <ol>
        <li> Afficher bouton ajout rapide </li>
        <li> affichier le nombre de produit</li>
        <li> afficher les produits en faible quantité</li>
        <li> afficher les dernières factures</li>
        <li> afficher historique des évenements</li>
        <li><afficher une note personnel</li>
    </ol>
</div>

{% endblock %}
